.nav-wrapper{
    box-shadow: none;
}
body{
    background: #EFF2F1;
    overflow: hidden;
    font-size:16px;
}
nav ul a:hover {
    background: none!important;
}
nav a, nav button{
    color: #202020!important;
}
.social a{
    margin-top: 50%;
    margin-bottom: 50%;
    
}
nav ul a {
    
}

#content{
    height: 100vh;
}
.contact nav a{
    color:#EFF2F1!important;
    
}
#content .rt{
    background: #202020;
    height: 100vh;
     z-index: -10;
   
}
#content .lt h1{
    position: relative;
    top: 35vh;
}
#content .rt p{
    color: #EFF2F1;
}
.contact form{
    margin-top: 30%;
}

/*******FORM****/
.input-field{
     color: #EFF2F1!important;
    margin-top: 10%;
    
}
.form h2{
    color:  #EFF2F1; 
}
.input-field label {
     color: #EFF2F1!important;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #EFF2F1!important;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus, .input-field input[type=email]:focus {
     border-bottom: 1px solid #EFF2F1!important;
     box-shadow: 0 1px 0 0 #EFF2F1!important;
   }
   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid #EFF2F1!important;
     box-shadow: 0 1px 0 0 #EFF2F1!important;
   }
   /* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid #EFF2F1!important;
     box-shadow: 0 1px 0 0 #EFF2F1!important;
   }
   textarea:focus { 
    border-bottom: 1px solid #EFF2F1!important;
     box-shadow: 0 1px 0 0 #EFF2F1!important;
}
        