.nav-wrapper{
    box-shadow: none;
}
body{
    background: #EFF2F1;
    overflow: hidden;
    font-size:16px;
}
nav{
    margin-top: 10px;
        
    
}
nav ul a:hover {
    background: none!important;
}
nav a{
    font-weight: 300;
    font-size: .8rem!important;
}
nav a:hover{
   font-weight: 700; 
    font-size: 1rem!important;
}
.here{
    font-weight: 700; 
    font-size: 1rem!important;
}
nav a, nav button{
    color: #202020!important;
}
.social {
    margin-top: 50%;
    margin-bottom: 50%;
    
}
.brand-logo{
    margin-top: -22px;
}
nav ul a {
    
}

#content{
    height: 100vh;
}
.contact nav a{
    color:#EFF2F1!important;
    
}
#content .rt{
    background: #202020;
    height:0vh;
    
     z-index: -10;
   transition: height 1s ease-in;
}

.actives{
    height:100vh!important;
}
#content .lt h1{
    position: relative;
    top: 35vh;
    left: -30vh;
    transition: all 1s ease-in;
}
.back{
     transform: translate(30vh,0);
}
#content .rt p{
    color: #EFF2F1;
}
.contact form{
    margin-top: 30%;
}

/*******FORM****/
.input-field{
     color: #EFF2F1!important;
    margin-top: 10%;
    
}
.form h2{
    color:  #EFF2F1; 
}
.input-field label {
     color: #EFF2F1!important;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #EFF2F1!important;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus, .input-field input[type=email]:focus {
     border-bottom: 1px solid #EFF2F1!important;
     box-shadow: 0 1px 0 0 #EFF2F1!important;
   }
   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid #EFF2F1!important;
     box-shadow: 0 1px 0 0 #EFF2F1!important;
   }
   /* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid #EFF2F1!important;
     box-shadow: 0 1px 0 0 #EFF2F1!important;
   }
   textarea:focus { 
    border-bottom: 1px solid #EFF2F1!important;
     box-shadow: 0 1px 0 0 #EFF2F1!important;
}
 /*********SVG INTRO******/  
.svg-wrap{
    height: 100vh;
    width: 100vw;
}
.svg-wrap svg{
    height: 100%;
    width: 100%
}

#outer-c{
   
    
  animation: dash 10s ease infinite;
}

@keyframes dash {
  0% { opacity: 1; }
  10% { opacity: 1; }
  15% { opacity: 0; }
  100% { opacity: 0; }
} 
   

